body {
	background-color: #888;
	font-size: 14px;
}

div#page-container {
	display: flex;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
}

div#page-container div.left-pane {
	width: calc(100% - 400px);
}
div#page-container div.right-pane {
	padding: 16px 0 0 0;
	width: 400px;
	height: 100%;
	background-color: #cccccc;
	box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.3);
}
div#page-container div.right-pane h1.main-title{
	font-size: 28px;
	text-align: center;
}
div#page-container div.right-pane h2.sub-title{
	font-size: 20px;
	text-align: left;
	margin: 12px 0 12px 0;
}

div#page-container div.right-pane div.row.border-top {
	border-top: 1px solid #ddd;
	padding: 0 0 16px 0;
}


/**
 * Game Field
 */
#game-field {
	position: relative;
	width: 600px;
	height: 600px;
	border: 1px dashed;
	margin: 50px auto 0px;
	background-position: center center;
}

/**
 * Materialize Overwrites
 */
#toast-container {
	top: initial;
	right: initial;
	left: 5%;
	bottom: 7%;
	max-width: 90%;

}
