div#ingame-menu {
	background-color: #444444;
	border: 1px solid #000000;
	border-radius: 5px;
	color: #eeeeee;
	padding: 15px;
	position: absolute;
	top: 150px;
	left: -500px;
	width: 500px;
	margin-left: -250px;

	z-index: 3;

	transition: left 1s;
}

div#ingame-menu.open {
	left: 50%;
}

div#ingame-menu .title {
	margin: 0 0 15px 0;
}

div#ingame-menu div.actions {
	padding: 0 0 0 0;
	text-align: center;
	margin: 15px 0 0 0;
}

div#ingame-menu div.actions:after{
	content: "";
	clear: both;
	display: block;
}

div#ingame-menu a.menu-btn {
	background-color: #00acc1;
	color: #eeeeee;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
	padding: 10px;
	border-radius: 3px;
	margin: 0 5px 0 0;
	display: inline-block;

	/*float: left;*/
	width: 45%;
}