div#inventory {

}

div.inventory-grid {
	display: inline-block;
	position: relative;
	background-color: #222;
	padding: 2px;
}
div.inventory-grid div.inv-row {

}
div.inventory-grid div.inv-row:after {
	content: "";
	clear: both;
	display: block;
}
div.inventory-grid div.inv-row div.inv-slot {
	width: 64px;
	height: 64px;
	position: relative;
	margin: 2px 2px 2px 2px;
	background-color: #444;
	float: left;
	box-shadow: inset -1px -1px 20px rgba(0, 0, 0, 0.2),
		inset 1px 1px 20px rgba(0, 0, 0, 0.2),
		inset 1px 1px 0 #666,
		inset -1px -1px 0 #666;
}
div.inventory-grid div.inv-row div.inv-slot.ui-droppable-hover {
	background-color: #666;
}

div.inventory-grid div.inv-row div.inv-slot:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 36px 36px;
	opacity: 0.3;
}

/**
 * Equippable items background
 */
div.inventory-grid div.inv-row div.inv-slot.head { }
div.inventory-grid div.inv-row div.inv-slot.head:before {
	background-image: url(../image/gui/hat.png);
	background-size: 46px 46px;
}

div.inventory-grid div.inv-row div.inv-slot.chest { }
div.inventory-grid div.inv-row div.inv-slot.chest:before {
	background-image: url(../image/gui/vest.png);
	background-size: 36px 34px;
}

div.inventory-grid div.inv-row div.inv-slot.trinket { }
div.inventory-grid div.inv-row div.inv-slot.trinket:before {
	background-image: url(../image/gui/trinket.png);
}

div.inventory-grid div.inv-row div.inv-slot.hand { }
div.inventory-grid div.inv-row div.inv-slot.hand.left:before {
	background-image: url(../image/gui/left_hand.png);
}
div.inventory-grid div.inv-row div.inv-slot.hand.right:before {
	background-image: url(../image/gui/right_hand.png);
}


/**
 * Inventory items
 */
div.inventory-grid div.inv-row div.inv-slot div.inv-item {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: inset -1px -1px 20px rgba(0, 0, 0, 0.2),
		inset 1px 1px 20px rgba(0, 0, 0, 0.2);
	border: 1px solid;
	border-color: rgba(220, 220, 220, 1);;
	background-size: cover;
}
div.inventory-grid div.inv-row div.inv-slot div.inv-item.junk {
	border-color: rgba(40, 40, 40, 1);
	box-shadow: inset 1px 1px 0 #444,
		inset -1px -1px 0 #444,
		inset -1px -1px 20px rgba(40, 40, 40, 0.4),
		inset 1px 1px 20px rgba(40, 40, 40, 0.4);
	opacity: 0.6;
}
div.inventory-grid div.inv-row div.inv-slot div.inv-item.normal {
	/*Normal items are the same as default*/
}
div.inventory-grid div.inv-row div.inv-slot div.inv-item.magical {
	border-color: rgba(0, 150, 250, 1);
	box-shadow: inset 1px 1px 0 #ddd,
		inset -1px -1px 0 #ddd,
		inset -1px -1px 20px rgba(0, 150, 250, 0.4),
		inset 1px 1px 20px rgba(0, 150, 250, 0.4);
}
div.inventory-grid div.inv-row div.inv-slot div.inv-item.rare {
	border-color: rgba(255, 255, 0, 1);
	box-shadow: inset 1px 1px 0 #ddd,
		inset -1px -1px 0 #ddd,
		inset -1px -1px 20px rgba(255, 255, 0, 0.4),
		inset 1px 1px 20px rgba(255, 255, 0, 0.4);

}
div.inventory-grid div.inv-row div.inv-slot div.inv-item.legendary {
	border-color: rgba(250, 80, 0, 1);
	box-shadow: inset 1px 1px 0 #ddd,
		inset -1px -1px 0 #ddd,
		inset -1px -1px 20px rgba(250, 80, 0, 0.4),
		inset 1px 1px 20px rgba(250, 80, 0, 0.4);
}
