div#inventory {

}

div.inventory-grid {
	display: inline-block;
	background-color: #222;
	padding: 2px;
}
div.inventory-grid div.inv-row {

}
div.inventory-grid div.inv-row:after {
	content: "";
	clear: both;
	display: block;
}
div.inventory-grid div.inv-row div.inv-slot {
	width: 64px;
	height: 64px;
	position: relative;
	margin: 2px 2px 2px 2px;
	background-color: #444;
	float: left;
	box-shadow: inset -1px -1px 20px rgba(0, 0, 0, 0.2),
				inset 1px 1px 20px rgba(0, 0, 0, 0.2);
	border: 1px solid #494949;
}

div.inventory-grid div.inv-row div.inv-slot.head {

}
div.inventory-grid div.inv-row div.inv-slot.head:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../image/gui/hat.png);
	background-position: center;
	background-size: 46px 46px;
	background-repeat: no-repeat;
	background-blend-mode: unset;
	opacity: 0.3;
}
