.monster {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100px;
	height: 120px;

	opacity: 1;
	transition: opacity 0.2s, top 0.4s, left 0.4s ;
}
.monster .health-bar-container {
	position: relative;
	border: 1px solid #444;
	width: 100%;
	height: 15px;
}
.monster .health-bar-container .health-bar {
	width: 100%;
	height: 100%;
	background-color: #00bb00;
	transition: width 0.2s, background-color 0.2s;
}
.monster .health-bar-container .health {
	width: 100%;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000;
	color: #fff;
	position: absolute;
	top: 2px;
}
.monster .name {
	color: #ededed;
	font-size: 12px;
	font-weight: bold;
	font-shadow: 1px 1px 0px #000;
	margin: 0;
	text-align: center;
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 100%;
}
.monster .image {
	position: absolute;
	width: 100%;
	height: calc(100% - 20px);
	top: 20px;
	left: 0px;
	background-position: center center;
	background-size: 100% auto;
}
.monster .hit-box {
	position: absolute;
	border: 2px dashed #444444;
	width: 100%;
	height: calc(100% - 20px);
	top: 20px;
	left: 0px;
}
